body{
    background-color:black;
    color:gray;
}
header, main, nav, footer, #content{
    text-align: center;
}
nav a{
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration: none;
    color: white;
}
nav a:hover, #standOut{
    border-bottom:2px violet solid;
    font-size: 2em;
    transition: .9s;
}

#me, #welcomeText{
    float:left;
}
#welcomeText{
    text-align: left;
    padding-left: 0.5%;
    padding-top:4%;
    font-size:1.3em;
    width:30%;
}
footer{
    clear:left;
    font-size:1em;
    color: #e9cdf2;
}
footer img{
    padding-top:0.5%;
    width:20%;
    height:auto;
}
table{
    margin:0px auto;
}
#table-header{
    background-color:#4d7dc6;
}
.table-row{
    background-color: #5991e5;
}
td{
    padding-right:10px;
    font-size:1.3em;
}
td strong{
    color:black;
}
ul{
    text-align:left;
    padding-left:200px;
}
.hobby{
    color:white;
}
h1{
    font-family: 'Jacques Francois', serif;
    font-size: 4em;
    margin-bottom:0px;
}
