body {
  text-align: center;
}
#invitation{
  margin-left: auto;
  margin-right: auto;
}
table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
tr, th, td {
  border: 1px solid black;
  padding: 15px;
}
ul {
  list-style-type: none;
  margin: auto;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: blue;
  text-align: center;
  padding: 14px 16px;
}

.active{
  color:pink;
}

button{
  padding: 20px;
}
